{
  "token": "your-bot-token-here",
  "admins": [                                 //Optional if you don't want the admin plugin
    "your-user-ids-here"
  ],
  "botmanager": {                             //Optional if you don't want control of Laplace from within Discord
    "startpoint": "laplace.js",
    "reportchannel": "channel-id",
    "token": "your-other-bot-token-here",
    "autostart": "true"                       //Defaults to false if not found
  },
  "keys": {                                   //Optional if you don't want the dj plugin
    "youtube": "youtube-api-key",
    "soundcloud": "soundcloud-api-key"
  }
}
