{
  "token": "your-bot-token-here",
  "admins": [                                 //Optional if you don't want the admin plugin
    "your-user-id-here",
    "and anotha one"
  ],
  "keys": {                                   //Optional if you don't want the dj plugin
    "youtube": "youtube-api-key",
    "soundcloud": "soundcloud-api-key"
  }
  "datastore": {                              //A lot of plugins depend on there being a datastore so it's required for now
    "url": "url-to-datastore",
    "key": "datastore-api-key"
  }
}
