{
  "token": "your-bot-token-here",
  "admins": [                                 //Optional if you don't want the admin plugin
    "your-user-id-here",
    "and anotha one"
  ],
  "keys": {                                   //Optional, dj plugin will suffer a bit
    "google": "google-api-key",               //!trans uses google translate
    "soundcloud": "soundcloud-client-id"
  },
  "datastore": {                              //Optional, some data won't be saved if you don't have it
    "url": "url-to-datastore",
    "key": "datastore-api-key"
  }
}
